<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
</head>
<body>
  <div class="layout">
      <form action="/board/write" method="post" enctype="multipart/form-data">
          <input type="text" name="title">
          <textarea name="content"></textarea>
          <input type="file" name="file" accept="image/*">
          <button type="submit">작성</button>
          <img id="img-preview" style="display: none;" width="250" alt="미리보기">
      </form>
  </div>

  <script>
      document.querySelector('input[type="file"]').addEventListener('change', function (event) {
          var img = document.querySelector('#img-preview');
          var file = event.target.files[0];
          var reader = new FileReader();

          reader.onload = function (e) {
              img.setAttribute('src', e.target.result);
              img.style.display = 'block';
          };

          reader.readAsDataURL(file);
      });
  </script>
</body>
</html>