<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>board View</title>
</head>

<body>
    <div class="layout">
        <form th:action="@{/board/{id}/update(id=${board.id})}" method="post" enctype="multipart/form-data">
            <label>
                제목
                <input type="text" th:value="${board.title}" name="title">
            </label>
            <label>
                내용
                <textarea th:text="${board.content}" name="content"></textarea>
            </label>
            <button type="submit">수정하기</button>
        </form>
        <a th:href="@{/board/list}">목록</a>
    </div>
</body>

</html>