<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}"></a>
                    <button>삭제</button>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/board/write}">새 글 작성</a>
</div>

</html>

<script>
    document.querySelectorAll('button').forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            var boardId = event.target.parentNode.parentNode.querySelector('td').innerText;

            fetch('/board/' + boardId + '/delete', {
                method: 'POST'
            }).then(async function (response) {
                if (response.ok) {
                    let data = await response.json();

                    alert(`id: ${data.id}, title: ${data.title} content: ${data.content} 삭제 성공!!`);
                    window.location.reload();
                }
            }).catch(function (error) {
                alert(error.message);
            });
        });
    });
</script>